@font-face {
    font-family: 'Helvetica-Bold';  
    src:  url("/fonts/Helvetica/HelveticaNeueBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Helvetica-Medium';  
    src:  url("/fonts/Helvetica/HelveticaNeueMedium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';  
    src:  url("/fonts/Helvetica/Helvetica.ttf") format("truetype");    
    font-style: normal;
}

