//colors
$color-black:#151C1F;
$color-white:#FFFFFF;
$color-light-green:#34C7A0;
$color-green:#00B6A3;
$color-dark-green:#008AA2;
$color-grey:#898694;
$color-light-grey:#B3B3B3;

$transparent-bg: rgba(255, 255, 255, 0.25);
$transparent-text: rgba(255, 255, 255, 0.7);