.icon{
    padding: 10px;
    background-color: $transparent-bg;
    border-radius: 50px;     
    width: 25px;
    height: 25px;     
    display: flex;  
    justify-content: center;
    align-items: center;  
    i{
        color: $color-white;        
    }  
}

.icon-directions{
    @extend .icon;
    background-color: $color-green;
    opacity: 0.25;
}

.left{
    color: $color-white;
    font-size: 40px;
}